body {
  height: 100%;
}
nav {
  display: flex;
  justify-content: center;
}
.nav {
  background-color: aliceblue;
}
.container {
  justify-content: center;
  text-align: center;
  background-color: black;
  margin-left: 20%;
  margin-right: 20%;
}
h2 {
  color: white;
}
